<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #69d2e7;"></span>
        <span class="sg-label">#69d2e7</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #a7dBd8;"></span>
        <span class="sg-label">#a7dBd8</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #e0e4cc;"></span>
        <span class="sg-label">#e0e4cc</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f38630;"></span>
        <span class="sg-label">#f38630</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #fa6900;"></span>
        <span class="sg-label">#fa6900</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f8981c;"></span>
        <span class="sg-label">#f8981c</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #69645b;"></span>
        <span class="sg-label">#69645b</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #827e76;"></span>
        <span class="sg-label">#827e76</span>
    </li>
</ul>
