/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/**
 * .MainFooter
 */


.MainFooter {
  height: 130px;
  padding: 10px 0;
  background-color: #f8981c;
  text-align: center;
}
