/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/**
 * .MainFooter
 */


.MainFooter {
  height: 100px;
  padding: 10px 0;
  background-color: #f8981c;

  // small, svg {
  //   display: inline-block;
  //   vertical-align: bottom;
  // }

  small {
    float: left;
  }

  svg {
    float: right;
  }
}
