/*------------------------------------*\
    HEADER
\*------------------------------------*/
/**
 * .MainHeader
 * .MainHeader_Logo
 */


.MainHeader {

}

.MainHeader_Logo {
  height: 208px;
  margin: 0 auto;
  width: 208px;
}
