/*------------------------------------*\
    HEADER
\*------------------------------------*/
/**
 * .MainHeader
 * .MainHeader_Logo
 */


.MainHeader {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    padding: 16px 0;
  }

  @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
    padding: 32px 0;
  }
}

.MainHeader_Logo {
  height: 208px;
  margin: 0 auto;
  width: 208px;
}
