/*------------------------------------*\
    MAIN CONTENT AREA
\*------------------------------------*/
/**
 * .MainContent
 * .MainContent_Banner
 * .MainContent_Banner_Left
 * .MainContent_Banner_Right
 * .MainContent_Section
 * .MainContent_Section-How
 * .MainContent_Section-Why
 * .MainContent_Section-What
 * .MainContent_Section_Gallery_Block
 */


.MainContent {
  // @include susy-breakpoint( $bp-small, $layout-small ) {
  //   margin-top: 32px;
  // }

  // @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
  //   margin-top: 64px;
  // }
}

.MainContent_Banner {
  min-height: 480px;
  position: relative;
  background-image: url( '../images/banner_2.jpg' );
  background-size: cover;

  @include susy-breakpoint( $bp-small, $layout-small ) {
    padding: 16px 0;
    background-position: 80% center;
  }

  @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
    padding: 32px 0;
    background-position: center top;
  }

  &::before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: rgba( 255, 255, 255, 0.8 );
    content: '';
  }

  .Container {
    position: relative;
    z-index: 1;
  }

  h2 {
    color: #69645b;
    text-shadow: 2px 2px 2px #ccc;
  }

  h3 {
    color: #827e76;
    text-shadow: 3px 3px 3px #ccc;

    @include susy-breakpoint( $bp-small, $layout-small ) {
      text-align: left;
    }

    @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
      text-align: right;
    }
  }

  p, li {
    @include font-size-in-em( 19px );
  }

  .Btn-Submit {
    box-shadow: 5px 5px 5px #ccc;
  }
}

.MainContent_Banner_Left {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    @include span( 4 );
  }

  @include susy-breakpoint( $bp-medium, $layout-medium ) {
    @include span( 4 );
  }

  @include susy-breakpoint( $bp-large, $layout-large ) {
    @include span( 5 );
  }

  @include susy-breakpoint( $bp-xl, $layout-xl, $no-query: true ) {
    @include span( 6 );
  }
}

.MainContent_Banner_Right {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    @include span( 4 );
  }

  @include susy-breakpoint( $bp-medium, $layout-medium ) {
    @include span( 4 at 5 );
  }

  @include susy-breakpoint( $bp-large, $layout-large ) {
    @include span( 5 at 6 );
  }

  @include susy-breakpoint( $bp-xl, $layout-xl, $no-query: true ) {
    @include span( 6 at 7 );
  }
}

.MainContent_Section {
  min-height: 320px;

  @include susy-breakpoint( $bp-small, $layout-small ) {
    padding: 32px 0;
  }

  @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
    padding: 64px 0;
  }
}

.MainContent_Section-How {
  background-color: #69d2e7;
}

.MainContent_Section-Why {
  background-color: #a7dbd8;
}

.MainContent_Section-What {
  background-color: #e0e4cc;
}

.MainContent_Section_Gallery_Block {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    @include span( 100% );
  }

  @include susy-breakpoint( $bp-large, $layout-large ) {
    @include gallery(4 of 12);
  }

  svg {
    display: block;
    margin: 0 auto 14px;
  }

  h6 {
    font-family: $font-primary;
    // font-weight: normal;
  }

  p {
    color: #fff;
  }
}
