/*------------------------------------*\
    MAIN CONTENT AREA
\*------------------------------------*/
/**
 * .MainContent
 * .MainContent_Banner
 * .MainContent_Section
 * .MainContent_Section_Gallery_Block
 */


.MainContent {
  // @include susy-breakpoint( $bp-small, $layout-small ) {
  //   margin-top: 32px;
  // }

  // @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
  //   margin-top: 64px;
  // }
}

.MainContent_Banner {
  position: relative;
  background-image: url( '../images/banner_2.jpg' );
  background-size: cover;

  @include susy-breakpoint( $bp-small, $layout-small ) {
    height: auto;
    min-height: 640px;
    padding: 0;
    background-position: 80% center;
  }

  @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
    height: 640px;
    padding: 32px 0;
    background-position: center top;
  }

  &::before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: rgba( 255, 255, 255, 0.8 );
    content: '';
  }

  .Container {
    position: relative;
    z-index: 1;
  }

  h3 {
    text-align: right;
  }
}

.MainContent_Section {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    height: auto;
    min-height: 320px;
    padding: 32px 0;
  }

  @include susy-breakpoint( $bp-large, $layout-large, $no-query: true ) {
    height: 320px;
    padding: 64px 0;
  }
}

.MainContent_Section-How {
  background-color: #69d2e7;
}

.MainContent_Section-Why {
  background-color: #a7dbd8;
}

.MainContent_Section-What {
  background-color: #e0e4cc;
}

.MainContent_Section_Gallery_Block {
  @include susy-breakpoint( $bp-small, $layout-small ) {
    @include span( 100% );
  }

  // @include susy-breakpoint( $bp-medium, $layout-medium ) {

  // }

  @include susy-breakpoint( $bp-large, $layout-large ) {
    @include gallery(4 of 12);
  }

  // @include susy-breakpoint( $bp-xl, $layout-xl, $no-query: true ) {

  // }
}
