/*------------------------------------*\
    SUSY DEPENDENCIES
\*------------------------------------*/
/*------------------------------------*\
    PLACEHOLDERS
\*------------------------------------*/
/* line 4, scss/placeholder/_clearfix.scss */
.media-object, .Container {
  *zoom: 1;
}
/* line 6, scss/placeholder/_clearfix.scss */
.media-object:before, .Container:before, .media-object:after, .Container:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 14, scss/placeholder/_clearfix.scss */
.media-object:after, .Container:after {
  clear: both;
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/
/**
 * .animate-fade-in
 */
/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/
/**
 * .animate-fade-out
 */
/*------------------------------------*\
    MIXINS
\*------------------------------------*/
/*------------------------------------*\
    UTILITIES
\*------------------------------------*/
/* line 1, scss/utilities/_pull-left.scss */
.pull-left {
  float: left;
}

/* line 1, scss/utilities/_pull-right.scss */
.pull-right {
  float: right;
}

/*------------------------------------*\
    GENERIC
\*------------------------------------*/
/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/* 100% */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, scss/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, scss/generic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, scss/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 51, scss/generic/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, scss/generic/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, scss/generic/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, scss/generic/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, scss/generic/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 104, scss/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, scss/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Zendy overwrite
 */
/* line 126, scss/generic/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: inherit;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 135, scss/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 143, scss/generic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/**
 * Address differences between Firefox and other browsers.
 */
/* line 160, scss/generic/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 170, scss/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 179, scss/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 191, scss/generic/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 199, scss/generic/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 207, scss/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 215, scss/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 223, scss/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 227, scss/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 239, scss/generic/_normalize.scss */
img {
  max-width: 100%;
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 248, scss/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 260, scss/generic/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 272, scss/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 283, scss/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 294, scss/generic/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 308, scss/generic/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 320, scss/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 333, scss/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 345, scss/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 355, scss/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 367, scss/generic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 379, scss/generic/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 388, scss/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 399, scss/generic/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 412, scss/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Remove padding before lists.
 * Remove margin before lists
 * Remove list stye type
 */
/* line 427, scss/generic/_normalize.scss */
ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
}

/* line 434, scss/generic/_normalize.scss */
dd {
  margin: 0;
}

/* ==========================================================================
   Content block
   ========================================================================== */
/**
 * Set margin before and after paragraph.
 */
/* line 446, scss/generic/_normalize.scss */
p {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

/* line 4, scss/generic/_border-box-sizing.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/*------------------------------------*\
    SUSY
\*------------------------------------*/
/*------------------------------------*\
    BASE
\*------------------------------------*/
/*------------------------------------*\
    FONTS
\*------------------------------------*/
/**
 * Gotham Rounded Medium Italic
 * Gotham Rounded Medium
 * Mercury Text G4
 * Mercury Text G4 Italic
 */
@font-face {
  font-family: 'Gotham Rounded Medium';
  src: url("../fonts/Gotham-Rounded-Medium-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Rounded-Medium-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Rounded-Medium-Italic.woff") format("woff"), url("../fonts/Gotham-Rounded-Medium-Italic.ttf") format("truetype"), url("../fonts/Gotham-Rounded-Medium-Italic.svg#48c6e39d21ea8e07ca5171cab616e804") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Rounded Medium';
  src: url("../fonts/Gotham-Rounded-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Rounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Rounded-Medium.woff") format("woff"), url("../fonts/Gotham-Rounded-Medium.ttf") format("truetype"), url("../fonts/Gotham-Rounded-Medium.svg#13af3003001cba3805884d1b06b023c9") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Mercury Text G4';
  src: url("../fonts/Mercury_Text_G4_Roman.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Mercury_Text_G4_Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Mercury_Text_G4_Roman.woff") format("woff"), url("../fonts/Mercury_Text_G4_Roman.ttf") format("truetype"), url("../fonts/Mercury_Text_G4_Roman.svg#6344709564a5911b68738aafdb9f96d6") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Mercury Text G4';
  src: url("../fonts/Mercury_Text_G4_Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Mercury_Text_G4_Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Mercury_Text_G4_Italic.woff") format("woff"), url("../fonts/Mercury_Text_G4_Italic.ttf") format("truetype"), url("../fonts/Mercury_Text_G4_Italic.svg#15f886184eb8beaee1c3601b5a6cef48") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}
/*------------------------------------*\
    BODY
\*------------------------------------*/
/**
 * body
 */
/* line 9, scss/base/_body.scss */
body {
  color: #333333;
  font-family: Times New Roman, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
    LINK
\*------------------------------------*/
/**
 * a
 */
/* line 9, scss/base/_link.scss */
a {
  color: #cc0544;
  text-decoration: none;
}
/* line 13, scss/base/_link.scss */
a:hover, a:focus {
  color: #333333;
}

/*------------------------------------*\
    HEADINGS
\*------------------------------------*/
/**
 * h1, .Alpha
 * h2, .Beta
 * h3, .Gamma
 * h4, .Delta
 * h5, .Teta
 * h6, .Zeta
 */
/* line 14, scss/base/_headings.scss */
h1, .Alpha {
  font-size: 4.5em;
  line-height: 1.55;
}

/* line 19, scss/base/_headings.scss */
h2, .Beta {
  font-size: 2.78119em;
  line-height: 1.8;
}

/* line 24, scss/base/_headings.scss */
h3, .Gamma {
  font-size: 2.61794em;
}

/* line 28, scss/base/_headings.scss */
h4, .Delta {
  font-size: 1.71888em;
}

/* line 32, scss/base/_headings.scss */
h5, .Teta {
  font-size: 1.618em;
}

/* line 36, scss/base/_headings.scss */
h6, .Zeta {
  font-size: 1.06238em;
}

/* line 40, scss/base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Mercury Text G4";
}

/*------------------------------------*\
    ICONS
\*------------------------------------*/
/**
 *
 */
/*------------------------------------*\
    PARAGRAPH
\*------------------------------------*/
/**
 * p
 */
/* line 9, scss/base/_paragraph.scss */
p {
  font-family: "Gotham Rounded Medium";
}

/*------------------------------------*\
    LISTS
\*------------------------------------*/
/**
 * ul
 * ol
 */
/* line 14, scss/base/_lists.scss */
ol {
  padding-left: 1.3em;
}

/* line 19, scss/base/_lists.scss */
ul li, ol li {
  font-family: "Gotham Rounded Medium";
}

/*------------------------------------*\
    TABLE
\*------------------------------------*/
/**
 * table
 * tr
 * td
 */
/*------------------------------------*\
    FORM
\*------------------------------------*/
/**
 * form
 */
/* line 10, scss/base/_form.scss */
form .field-row {
  margin-bottom: 5px;
}
/* line 14, scss/base/_form.scss */
form .field-row__label {
  display: block;
}
/* line 18, scss/base/_form.scss */
form .field-row__input {
  display: inline-block;
  border: none;
}

/*------------------------------------*\
    COMPONENT
\*------------------------------------*/
/*------------------------------------*\
    NAVIGATIONS
\*------------------------------------*/
/**
 *
 */
/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
/**
 * .btn
 * .btn--disabled
 * .btn--small
 * .btn--large
 */
/* line 12, scss/component/_buttons.scss */
.btn {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  border: 0;
  color: #333333;
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

/* line 23, scss/component/_buttons.scss */
.btn--disabled {
  background-color: #f9f9f9;
  color: #ddd;
}

/* line 28, scss/component/_buttons.scss */
.btn--small {
  font-size: 0.875em;
}

/* line 32, scss/component/_buttons.scss */
.btn--large {
  padding: 0.5em;
  font-size: 1.125em;
}

/*------------------------------------*\
    COMMENTS
\*------------------------------------*/
/**
 *
 */
/*------------------------------------*\
    CAPTIONS
\*------------------------------------*/
/**
 * .caption
 */
/* line 9, scss/component/_captions.scss */
.caption {
  display: block;
  padding: 2em;
  background-color: #333;
  color: #fff;
}

/*------------------------------------*\
    SOCIAL LINKS
\*------------------------------------*/
/* line 7, scss/component/_social-links.scss */
.social-links li {
  display: inline;
}

/*------------------------------------*\
    MEDIA OBJECT
\*------------------------------------*/
/**
 * .media-object
 * .media-object__image
 * .media-object__content
 */
/* line 15, scss/component/_media-object.scss */
.media-object__image {
  float: left;
  margin-right: 3%;
  width: 27%;
}

/* line 31, scss/component/_media-object.scss */
.media-object__content {
  float: right;
  width: 70%;
}

/*------------------------------------*\
    SLIDER
\*------------------------------------*/
/**
 * .flexslider
 * .flex-control-nav
 * .flex-direction-nav
 */
/* line 11, scss/component/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 16, scss/component/_slider.scss */
.flexslider .slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 21, scss/component/_slider.scss */
.flexslider .slides li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* line 26, scss/component/_slider.scss */
.flexslider .slides img {
  display: block;
  width: 100%;
}

/* line 33, scss/component/_slider.scss */
.flex-control-nav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
/* line 40, scss/component/_slider.scss */
.flex-control-nav li {
  display: inline-block;
  *display: inline;
  margin: 0 6px;
  zoom: 1;
}
/* line 47, scss/component/_slider.scss */
.flex-control-nav a {
  display: block;
  height: 11px;
  width: 11px;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-indent: -9999px;
}
/* line 58, scss/component/_slider.scss */
.flex-control-nav a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
/* line 63, scss/component/_slider.scss */
.flex-control-nav a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 71, scss/component/_slider.scss */
.flex-direction-nav {
  *height: 0;
}
/* line 74, scss/component/_slider.scss */
.flex-direction-nav a {
  display: block;
  height: 60px;
  margin: -20px 0 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 10;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.1;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 90, scss/component/_slider.scss */
.flex-direction-nav a:hover {
  opacity: 1;
}
/* line 96, scss/component/_slider.scss */
.flex-direction-nav .flex-prev::before, .flex-direction-nav .flex-next::before {
  display: inline-block;
  font-family: 'icomoon';
  font-size: 2.5em;
}
/* line 103, scss/component/_slider.scss */
.flex-direction-nav .flex-prev {
  left: 0;
}
/* line 106, scss/component/_slider.scss */
.flex-direction-nav .flex-prev::before {
  content: '\e604';
}
/* line 111, scss/component/_slider.scss */
.flex-direction-nav .flex-next {
  right: 0;
  text-align: right;
}
/* line 115, scss/component/_slider.scss */
.flex-direction-nav .flex-next::before {
  content: '\e605';
}
/* line 120, scss/component/_slider.scss */
.flex-direction-nav .flex-disabled {
  cursor: default;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 130, scss/component/_slider.scss */
.no-js .flexslider .slides li:first-child {
  display: block;
}

/*------------------------------------*\
    TEMPLATE
\*------------------------------------*/
/*------------------------------------*\
    LAYOUT
\*------------------------------------*/
/**
 * .Container
 */
/* line 8, scss/template/_layout.scss */
.Container {
  padding: 0 2em;
  max-width: 73em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 20em) {
  /* line 8, scss/template/_layout.scss */
  .Container {
    padding: 0 0.5em;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .Container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 46.8em) {
  /* line 8, scss/template/_layout.scss */
  .Container {
    padding: 0 0.5em;
    max-width: 46.8em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .Container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 50em) {
  /* line 8, scss/template/_layout.scss */
  .Container {
    padding: 0 2em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .Container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 73em) {
  /* line 8, scss/template/_layout.scss */
  .Container {
    padding: 0 2em;
    max-width: 73em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .Container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.Container:after {
  content: " ";
  display: block;
  clear: both;
}

/*------------------------------------*\
    MODULE
\*------------------------------------*/
/*------------------------------------*\
    HEADER
\*------------------------------------*/
/**
 * .MainHeader
 * .MainHeader_Logo
 */
/* line 10, scss/module/_header.scss */
.MainHeader {
  padding: 32px 0;
}
@media (min-width: 20em) {
  /* line 10, scss/module/_header.scss */
  .MainHeader {
    padding: 16px 0;
  }
}
@media (min-width: 50em) {
  /* line 10, scss/module/_header.scss */
  .MainHeader {
    padding: 32px 0;
  }
}

/* line 20, scss/module/_header.scss */
.MainHeader_Logo {
  height: 208px;
  margin: 0 auto;
  width: 208px;
}

/*------------------------------------*\
    HERO
\*------------------------------------*/
/**
 *
 */
/*------------------------------------*\
    MAIN CONTENT AREA
\*------------------------------------*/
/**
 * .MainContent
 * .MainContent_Banner
 * .MainContent_Section
 * .MainContent_Section_Gallery_Block
 */
/* line 12, scss/module/_main.scss */
.MainContent {
  margin-top: 64px;
}

/* line 16, scss/module/_main.scss */
.MainContent_Banner {
  padding: 32px 0;
  height: 640px;
}
@media (min-width: 20em) {
  /* line 16, scss/module/_main.scss */
  .MainContent_Banner {
    height: auto;
    min-height: 640px;
  }
}
@media (min-width: 50em) {
  /* line 16, scss/module/_main.scss */
  .MainContent_Banner {
    height: 640px;
  }
}
/* line 28, scss/module/_main.scss */
.MainContent_Banner h3 {
  text-align: right;
}

/* line 33, scss/module/_main.scss */
.MainContent_Section {
  height: 320px;
  padding: 64px 0;
}
@media (min-width: 20em) {
  /* line 33, scss/module/_main.scss */
  .MainContent_Section {
    height: auto;
    min-height: 320px;
    padding: 32px 0;
  }
}
@media (min-width: 50em) {
  /* line 33, scss/module/_main.scss */
  .MainContent_Section {
    height: 320px;
    padding: 64px 0;
  }
}

/* line 46, scss/module/_main.scss */
.MainContent_Section-How {
  background-color: #69d2e7;
}

/* line 50, scss/module/_main.scss */
.MainContent_Section-Why {
  background-color: #a7dbd8;
}

/* line 54, scss/module/_main.scss */
.MainContent_Section-What {
  background-color: #e0e4cc;
}

@media (min-width: 20em) {
  /* line 58, scss/module/_main.scss */
  .MainContent_Section_Gallery_Block {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}
@media (min-width: 50em) {
  /* line 58, scss/module/_main.scss */
  .MainContent_Section_Gallery_Block {
    width: 32.20339%;
    float: left;
  }
  /* line 63, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .MainContent_Section_Gallery_Block:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 63, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .MainContent_Section_Gallery_Block:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  /* line 63, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .MainContent_Section_Gallery_Block:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
}

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/
/**
 *
 */
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/**
 *
 */
